<div id="main-wrapper">
<!-- Page Preloader -->
<div id="preloader">
    <div id="status">
        <div class="status-mes"></div>
    </div>
</div>

<div class="columns-block container">
<div class="left-col-block blocks">
    <header class="header theiaStickySidebar">
        <div class="profile-img">
            <img src={{data.Image}} class="img-responsive" alt=""/>
        </div>
        <div class="content">
            <h1>{{data.Name}}</h1>
            <span class="lead">{{data.Title}}</span>

            <div class="about-text">
                <p>
                   Arne er fullstack Java-utvikler i Experis Academy med Java OCA-sertifisering.
                    Han har gjennomført et intensivt program i Experis Academy som har gitt han 
                    god kontroll innenfor en rekke teknologier som er ettertraktet i teknologimarkedet.
                    Kurset baseres på fullstackutvikling og Arne har derfor erfaring innenfor både frontend og backend. 
                    Teknologier han behersker er oppdatert og tilrettelagt arbeidslivet 
                    som betyr at han er komfortabel med blant annet React, Java Spring, 
                    det å utvikle Rest-API'er, Testing og databaser. 
                    Som sideprosjekt har Arne på eget initiativ arbeidet med å lage en 
                    portefølje av apper på Github.
                    Disse prosjektene er i hovedsak web-applikasjoner 
                    der han viser evner i frontend-teknologier som React,
                    Vuejs, Bootstrap, HTML, CSS, men også backend med 
                    teknologier som Express, Mongoose, Mongodb og Node. 
                    Det prosjektet han er mest stolt av er en nettbutikk 
                    laget i Vuejs med Bootstrap.
                    Arne liker å jobbe strukturert og systematisk, og ser 
                    fordelen av å kontinuerlig opparbeide seg kompetanse innenfor 
                    ny teknologi for å være konkurransedyktig. Han blir motivert av å 
                    kunne gi et produkt som overgår forventninger og gir derfor det lille ekstra i hvert prosjekt. 
                </p>

            </div>


            <ul class="social-icon">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-slack" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
            </ul>
        </div>

    </header>
    <!-- .header-->
</div>
<!-- .left-col-block -->


<div class="right-col-block blocks">
<div class="theiaStickySidebar">
<section class="expertise-wrapper section-wrapper gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Expertise</h2>
                </div>
            </div>
        </div>
        <!-- .row -->

        <div class="row">
            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Professionally drive</h3>

                    <p>
                        Synergistically strategize customer directed resources rather than principle.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Seamlessly leverage </h3>

                    <p>
                        Quickly repurpose reliable customer service with orthogonal ideas. Competently.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Interactively incubate</h3>

                    <p>
                        Interactively myocardinate high standards in initiatives rather than next-generation.
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Globally streamline</h3>

                    <p>
                        Dynamically initiate client-based convergence vis-a-vis performance based. </p>
                </div>
            </div>

        </div>


    </div>
</section>
<!-- .expertise-wrapper -->


<section class="section-wrapper section-experience gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title"><h2>Work Experience</h2></div>
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-12">
                <div class="content-item">
                    <small>{{data.Work_experience.work1.duration}}</small>
                    <h3>{{data.Work_experience.work1.title}}</h3>
                    <h4>{{data.Work_experience.work1.place}}</h4>

                    <p>Norway, Oslo</p>
                </div>
                <!-- .experience-item -->
                <div class="content-item">
                    <small>{{data.Work_experience.work2.duration}}</small>
                    <h3>{{data.Work_experience.work2.title}}</h3>
                    <h4>{{data.Work_experience.work2.place}}</h4>

                    <p>Norway, Oslo</p>
                </div>
                <!-- .experience-item -->
                <div class="content-item">
                    <small>{{data.Work_experience.work3.duration}}</small>
                    <h3>{{data.Work_experience.work3.place}}</h3>
                </div>
                <!-- .experience-item -->
            </div>
        </div>
        <!--.row-->
    </div>
    <!-- .container-fluid -->

</section>
<!-- .section-experience -->

<section class="section-wrapper section-education">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title"><h2>Education</h2></div>
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-12">
                <div class="content-item">
                    <small>{{data.Education.Education1.duration}}</small>
                    <h3>{{data.Education.Education1.study}}</h3>
                    <h4>{{data.Education.Education1.place}}</h4>
                </div>
                <!-- .experience-item -->
                <div class="content-item">
                    <small>{{data.Education.Education2.duration}}</small>
                    <h3>{{data.Education.Education2.study}}</h3>
                    <h4>{{data.Education.Education2.place}}</h4>
                </div>
                <!-- .experience-item -->
            </div>
        </div>
        <!--.row-->
    </div>
    <!-- .container-fluid -->

</section>
<!-- .section-education -->

<section class="section-wrapper section-interest gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Interest</h2>
                </div>
            </div>
        </div>
        <!-- .row -->

        <div class="row">
            <div class="col-md-12">
                <div class="content-item">
                    <h3>Books</h3>

                    <p>Proactively extend market-driven e-tailers rather than enterprise-wide supply chains.
                        Collaboratively embrace 24/7 processes rather than adaptive users. Seamlessly monetize
                        alternative e-business.</p>
                </div>
                <div class="content-item">
                    <h3>Sports</h3>

                    <p>Assertively grow optimal methodologies after viral technologies. Appropriately develop
                        frictionless technology for adaptive functionalities. Competently iterate functionalized
                        networks for best-of-breed services.</p>

                </div>
                <div class="content-item">
                    <h3>Art</h3>

                    <p>Dramatically utilize superior infomediaries whereas functional core competencies.
                        Enthusiastically repurpose synergistic vortals for customer directed portals. Interactively
                        pursue sustainable leadership via.</p>
                </div>
            </div>
        </div>
        <!-- .row -->

    </div>
</section>
<!-- .section-publications -->

<section class="section-wrapper portfolio-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Portfolio</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a class="portfolio-item" href="https://github.com/Polkagris/E-shop-vuejs">
                    <div class="portfolio-thumb">
                        <img src="img/portfolio-1.jpg" alt="">
                    </div>

                    <div class="portfolio-info">
                        <h3>{{data.Projects.project1}}</h3>
                        <small>domain.com</small>
                    </div>
                    <!-- portfolio-info -->
                </a>
                <!-- .portfolio-item -->
            </div>
            <div class="col-md-6">
                <a class="portfolio-item" href="https://github.com/Polkagris/React-Comic-reader">
                    <div class="portfolio-thumb">
                        <img src="img/portfolio-2.jpg" alt="">
                    </div>

                    <div class="portfolio-info">
                        <h3>{{data.Projects.project2}}</h3>
                        <small>domain.com</small>
                    </div>
                    <!-- portfolio-info -->
                </a>
                <!-- .portfolio-item -->
            </div>
            <div class="col-md-6">
                <a class="portfolio-item" href="https://github.com/Polkagris/reddit-api-project">
                    <div class="portfolio-thumb">
                        <img src="img/portfolio-3.jpg" alt="">
                    </div>

                    <div class="portfolio-info">
                        <h3>{{data.Projects.project3}}</h3>
                        <small>domain.com</small>
                    </div>
                    <!-- portfolio-info -->
                </a>
                <!-- .portfolio-item -->
            </div>
            <div class="col-md-6">
                <a class="portfolio-item" href="https://github.com/Polkagris/pokedex-task23">
                    <div class="portfolio-thumb">
                        <img src="img/portfolio-4.jpg" alt="">
                    </div>

                    <div class="portfolio-info">
                        <h3>{{data.Projects.project4}}</h3>
                        <small>domain.com</small>
                    </div>
                    <!-- portfolio-info -->
                </a>
                <!-- .portfolio-item -->
            </div>

        </div>
        <!-- /.row -->
    </div>
</section>
<!-- .portfolio -->

<section class="section-contact section-wrapper gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Contact</h2>
                </div>
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-12">
                <address>
                    <strong>Email</strong><br>
                    <a href="mailto:#">{{data.Email}}</a>
                </address>
                <address>
                    <strong>Github</strong><br>
                    <a href="{{data.Github}}">{{data.Github}}</a>
                </address>

                
            </div>
        </div>
        <!--.row-->
       
    <!--.container-fluid-->
</section>
<!--.section-contact-->

<footer class="footer">
    <div class="copyright-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="copytext">&copy; Resumex. All rights reserved | Design By: <a
                            href="https://themehippo.com">themehippo</a></div>
                </div>
            </div>
            <!--.row-->
        </div>
        <!-- .container-fluid -->
    </div>
    <!-- .copyright-section -->
</footer>
<!-- .footer -->
</div>
<!-- Sticky -->
</div>
<!-- .right-col-block -->
</div>
<!-- .columns-block -->
</div>
<!-- #main-wrapper -->